@media screen and (max-width:1200px) {
    .ol-cards>li>.title {
        font-size: 14px;
    }
    .cardBoxx{
        width: 100%;
        height: 330px;
    }
    .cardBoxx h2 {
        font-size: 20px;
    }
    .contentt h3 {
        font-size: 18px;
    }
}